.footer {
  max-width: 600px;
  min-width: 360px;
  bottom: 0;
  display: flex;
  flex-direction: row;
  background-color: #41197F;
  justify-content: space-around;
  padding: 10px;
  position: fixed;
  width: 100%;
  height: 60px;
  align-items: center;
}